.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 50 50
}

.App-link {
  color: #61dafb;
}

.shareContainer{
  margin-top: 50px
}

.shareIcon{
  border-radius: 50%;
  margin-left: 20px;

  width:50px;
  height:50px;
}

.newsSentence{
  margin-left:30px;
  margin-right:30px;
}

.otherNewsOutcome{
  font-size:15px;
}

.visits{
  font-size:10px;
}

.App-build-news {
  row-gap: 50px;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 50 50
}


.float-icon{
	position:fixed;
	width:50px;
	height:50px;
	bottom:10px;
	right:10px;
  align:center
}
